{% extends "layout.html" %} {% block content %}
<div class="container-fluid row align-items-end" id="mainPicture">
  <div class="col">
    <a href="#startOfContent" id="glyphicon">
      <img
        src="../static/imgs/arrow-bar-bottom.svg"
        alt=""
        width="100%"
        height="100%"
        title="Bootstrap"
      />
    </a>
  </div>
</div>
<div class="container" id="startOfContent">
  <div id="testingAnimation1"></div>
  <div id="testingAnimation2"></div>
  <div id="testingAnimation3"></div>
  <div class="jumbotron">
    <h1 class="display-2 text-center">
      <span class="americaRed">The</span>
      <span class="americaWhite">Transparency</span>
      <span class="americaDarkBlue">Project</span>
      <!-- <span style="color: #0fabbc;">A</span><span style="color: #fa143e;">M</span
      ><span style="color: #e4f9ff;">E</span><span style="color: #30e3ca;">R</span
      ><span style="color: #0fabbc;">I</span><span style="color: #fa163f;">C</span
      ><span style="color: #e4f9ff;">A</span> -->
    </h1>
    <hr class="my-4 americaWhite" />
    <h2 class="text-center display-4 text-light">
      Our Mission:
    </h2>
    <hr class="my-1" />
    <p class="lead text-center text-light">
      Transparency USA serves as a platform to understand our political process
      through interactive visualizations. We work with political data from all
      of the internet, from social media platforms, search, and ad markets in
      order to bring customized and easy-to-undestand data to voters around the
      country.
    </p>
  </div>
  <div class="container-fluid" style="height: auto;">
    <h1 class="display-2 text-center americaWhite">Candidates</h1>
    <div class="row">
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Michael_Bennet.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Michael Bennet</h5>
            <p class="card-text">
              Democrat, 55
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Joe_Biden.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Joe Biden</h5>
            <p class="card-text">
              Democrat, 77
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Michael_R_Bloomberg.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Michael Bloomberg</h5>
            <p class="card-text">
              Democrat, 77
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Pete_Buttigieg.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Pete Buttigieg</h5>
            <p class="card-text">
              Democrat, 38
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/John_Delaney.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">John Delaney</h5>
            <p class="card-text">
              Democrat, 56
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Tulsi_Gabbard.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Tulsi Gabbard</h5>
            <p class="card-text">
              Democrat, 38
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Amy_Klobuchar.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Amy Klobuchar</h5>
            <p class="card-text">
              Democrat, 59
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Deval_Patrick.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Deval Patrick</h5>
            <p class="card-text">
              Democrat, 63
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Bernie_Sanders.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Bernie Sanders</h5>
            <p class="card-text">
              Democrat, 78
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Tom_Steyer.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Tom Steyer</h5>
            <p class="card-text">
              Democrat, 62
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Donald_Trump.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Donald Trump</h5>
            <p class="card-text">
              Republican, 73
            </p>
            <a href="#" class="btn btn-danger">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Joe_Walsh.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Joe Walsh</h5>
            <p class="card-text">
              Republican, 58
            </p>
            <a href="#" class="btn btn-danger">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Elizabeth_Warren.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Elizabeth Warren</h5>
            <p class="card-text">
              Democrat, 70
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/William_Weld.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">William Weld</h5>
            <p class="card-text">
              Republican, 74
            </p>
            <a href="#" class="btn btn-danger">Profile</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div
          class="card text-white bg-dark mb-3 text-center"
          style="width: 18rem;"
        >
          <img
            class="card-img-top"
            src="../static/imgs/candidates/Andrew_Yang.jpg"
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">Andrew Yang</h5>
            <p class="card-text">
              Democrat, 45
            </p>
            <a href="#" class="btn btn-primary">Profile</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
