<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    {% if title %}
    <title>Transparency USA - {{ title }}</title>
    {% else %}
    <title>Transparency USA</title>
    {% endif %}
  </head>

  <body>
    <header class="site-header">
      <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Transparency</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" id="nav-home" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-singleCandidate" href="#"
                    >Single</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="nav-duoCandidate" href="#">Dual</a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="container display-box" id="home">
            <div class="container display-box" id="mainPicture">

            </div>
            <div class="jumbotron">
              <h1 class="display-4 text-center">Transparency</h1>
              <hr class="my-4" />
              <p class="lead text-center">
                TRUMP 2020
              </p>
            </div>
          </div>

          <div class="container display-box" id="singleCandidate">
            <div class="row">
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
          </div>

          <div class="container display-box" id="duoCandidate">
            <div class="row">
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mainCode -->
    </header>
    <!-- <main role="main" class="container">
      <div class="row">
        <div class="col-md">
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
          {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock
          %}
        </div>
      </div>
      <div id="footer-spacer"></div>
    </main> -->
    <footer class="card-footer text-muted">
      <div class="container">
        <small>
          Copyright &copy; 2020, TransparencyUSA
        </small>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='render.js') }}"></script>
    <!-- Added Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <!-- Added Script -->
  </body>
</html>
