<!DOCTYPE html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Custom CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='main.css') }}"
    />
    {% if title %}
    <title>Transparency USA - {{ title }}</title>
    {% else %}
    <title>Transparency USA</title>
    {% endif %}
  </head>

  <body>
    <header class="site-header">
      <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
          <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Transparency</a>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link americaRed" id="nav-home" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link americaWhite" id="nav-singleCandidate" href="#"
                    >Single</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link americaBlue" id="nav-duoCandidate" href="#">Dual</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link americaDarkBlue" id="nav-multiCandidate" href="#">Multi</a>
                </li>
              </ul>
            </div>
          </nav>

          <div class="container display-box" id="home">
            <div class="container-fluid" id="mainPicture"></div>
            <div class="container">
              <div class="jumbotron">
                <h1 class="display-3 text-center text-light">
                  <span style="color: #0fabbc;">A</span
                  ><span style="color: #fa163f;">M</span
                  ><span style="color: #e4f9ff;">E</span
                  ><span style="color: #12cad6;">R</span
                  ><span style="color: #0fabbc;">I</span
                  ><span style="color: #fa163f;">C</span
                  ><span style="color: #e4f9ff;">A</span>
                </h1>
                <hr class="my-4" />
                <p class="lead text-center text-light">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
                  aperiam id quam. Optio possimus reiciendis voluptatum,
                  accusamus dicta rerum voluptate ratione explicabo? Autem
                  voluptatem a labore, modi similique libero officiis amet velit
                  placeat doloribus aut ipsa esse explicabo quis voluptas ut nam
                  neque. Ipsam saepe, beatae dolore officiis error eum laborum
                  nobis reprehenderit perspiciatis iusto minus soluta a optio
                  voluptatum laudantium eos accusamus? Sequi rerum iusto facere
                  dignissimos consequuntur eius, aut ad quaerat ea dolorem
                  corrupti blanditiis enim, impedit commodi quis suscipit odit
                  ab, nemo voluptas reprehenderit? Qui accusantium quod,
                  aspernatur iusto, numquam rem dolore atque repudiandae quasi
                  soluta odit fugiat quis et ipsum sed odio sint pariatur error.
                  Rerum illum adipisci doloribus totam minima. Quae doloremque,
                  est eum sequi ut asperiores dolore alias autem enim modi sit
                  vitae nisi consectetur itaque quibusdam soluta, reprehenderit
                  dicta fuga, aspernatur molestias libero iure neque accusamus
                  architecto. Quam enim, vel deleniti ut dolore consequatur a
                  et. Asperiores corrupti, quaerat totam est exercitationem
                  doloremque molestias molestiae incidunt nulla libero dicta
                  voluptate quae, aliquid blanditiis perferendis quia dolores
                  fuga rerum quam itaque mollitia ullam! Ipsa veritatis magnam,
                  blanditiis sapiente odio ratione molestias a atque, autem et
                  tempora enim qui accusamus, eius tempore ullam cumque quaerat.
                </p>
              </div>
              <div class="container">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>

          <div class="display-box" id="singleCandidate">
            <div class="container">
              <h1 class="display-3 text-center americaWhite" >Single Candidate</h1>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
          </div>

          <div class="display-box" id="duoCandidate">
            <div class="container">
              <h1 class="display-3 text-center americaBlue" >Compare Candidates</h1>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
          </div>

          <div class="display-box" id="multiCandidate">
            <div class="container">
              <h1 class="display-3 text-center americaDarkBlue" >All Candidates</h1>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
              <div class="col-sm">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg">
                <div class="container-fluid bg-dark text-white"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- mainCode -->
    </header>
   <footer class="card-footer text-muted">
      <div class="container">
        <small>
          Copyright &copy; 2020, TransparencyUSA
        </small>
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='render.js') }}"></script>
    <!-- Added Script -->
    <script>
      $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
      });
    </script>
    <!-- Added Script -->
  </body>
</html>
