{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <h1 class="display-3 text-center americaWhite">
    National Report
  </h1>
  <hr class="my-4" />
  <p class="lead text-center text-light">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aperiam id
    quam. Optio possimus reiciendis voluptatum, accusamus dicta rerum voluptate
    ratione explicabo? Autem voluptatem a labore, modi similique libero officiis
    amet velit placeat doloribus aut ipsa esse explicabo quis voluptas ut nam
    neque. Ipsam saepe, beatae dolore officiis error eum laborum nobis
    reprehenderit perspiciatis iusto minus soluta a optio voluptatum laudantium
    eos accusamus? Sequi rerum iusto facere dignissimos consequuntur eius, aut
    ad quaerat ea dolorem corrupti blanditiis enim, impedit commodi quis
    suscipit odit ab, nemo voluptas reprehenderit? Qui accusantium quod,
    aspernatur iusto, numquam rem dolore atque repudiandae quasi soluta odit
    fugiat quis et ipsum sed odio sint pariatur error. Rerum illum adipisci
    doloribus totam minima. Quae doloremque, est eum sequi ut asperiores dolore
    alias autem enim modi sit vitae nisi consectetur itaque quibusdam soluta,
    reprehenderit dicta fuga, aspernatur molestias libero iure neque accusamus
    architecto. Quam enim, vel deleniti ut dolore consequatur a et. Asperiores
    corrupti, quaerat totam est exercitationem doloremque molestias molestiae
    incidunt nulla libero dicta voluptate quae, aliquid blanditiis perferendis
    quia dolores fuga rerum quam itaque mollitia ullam! Ipsa veritatis magnam,
    blanditiis sapiente odio ratione molestias a atque, autem et tempora enim
    qui accusamus, eius tempore ullam cumque quaerat.
  </p>
</div>
<div class="container-fluid" style="height: auto;">
  <div class="row h-100 justify-content-center align-items-center">
    <iframe src="{{ iframesrc }}" frameborder="0" height="1200px" width="1200px"></iframe>
  </div>
</div>
{% endblock content %}
