{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="jumbotron" id="national-jumbotron">
    <hr class="my-4" />
    <p class="lead text-center text-light" id="national-banner">
      An overview of the political ad money propogating through Facebook. <br><br>
    </p>
    <p class="small-p">
      Any advertiser's Facebook
      ads come in two parts: how many times they pay to have their ads served, and the number of unique ads that they choose to serve.
      In 2016, Facebook played an important role in determining many voter's political opionions through ad campaigns.
      Therefore, it is an important part of our democratic process to see where the money is going.

    </p>
  </div>
</div>
<div class="container-fluid" style="height: auto;">
  <div class="row h-100 justify-content-center align-items-center">
    <!-- <p class="desc container">
      This chart shows the highest ad spenders on
      Facebook and also the number of unique ads in each one of their Facebook
      ad libraries.
    </p> -->
    <iframe
      src="{{ iframesrc }}"
      frameborder="0"
      height="580px"
      width="1200px"
    ></iframe>
    <!-- <p class="desc container">
      This chart displays how money is spent absolutely and per capita
      across the States.
    </p> -->
    <iframe
      src="{{ iframesrc_map }}"
      frameborder="0"
      height="873px"
      width="1200px"
    ></iframe>
  </div>
</div>
{% endblock content %}
