{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-2 text-center americaDarkBlue">
      National Report
    </h1>
    <hr class="my-4" />
    <p class="lead text-center text-light">
      This page serves to give an overview of political spending across Facebook today.
      By aggregating multiple data sources, we are able to understand how money propogates through social media and the internet.
    </p>
  </div>
</div>
<div class="container-fluid" style="height: auto;">
  <div class="row h-100 justify-content-center align-items-center">
    <p class="desc container">
      Take for example this chart, which shows the highest ad spenders on Facebook and also the number of unique ads in
      each one of their Facebook ad libraries.
    </p>
    <iframe
      src="{{ iframesrc }}"
      frameborder="0"
      height="760px"
      width="1200px"
    ></iframe>
    <p class="desc container">
      Or this, which displays how money is spent absolutely and per capita across the States. 
    </p>
    <iframe
      src="{{ iframesrc_map }}"
      frameborder="0"
      height="800px"
      width="1200px"
    ></iframe>
  </div>
</div>
{% endblock content %}
