html, body {
  font-family: Verdana, Sans-Serif;
}

div#dropdown {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

#candidate_drop {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

body {
  overflow-x: hidden;
  height: 100%;
}

h1#candidate_name {
  font-size: 2.5rem;
  padding-left: 30%;
}

h2#popularity, h2#presence {
  text-align: center;
  color: #eeeeee !important;
}

hr {
  width: 90%;
}

h1, h2, h4, #candidate_drop {
 padding-right: 8%;
  padding-left: 8%;
  margin-right: auto;
  margin-left: auto;
}

h1, h2, h4 {
  color: white !important;
}

#candidate_drop {
  width: 65%;
  margin-bottom: -2px;
}

@media (min-width: 768px) {
  h1, h2, h4 {
    width: 750px;
  }
}

@media (min-width: 992px) {
  h1, h2, h4 {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  h1, h2, h4 {
    width: 1170px;
  }
}

